body {
    padding-top: 56px; 
}

.hero-section {
    background: #0a223a;
    height: 70vh;
    position: relative;
    overflow: hidden;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.hero-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../image/Generated Image September 05, 2025 - 1_04AM.jpeg') no-repeat center center;
    background-size: cover;
    opacity: 0.35;
    z-index: 2;
}
.hero-section .container > *:not(.hero-img-bg) {
    z-index: 3;
    position: relative;
}

.hero-section .container {
    position: relative;
    z-index: 2;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
